@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
   width: 100%;
   
}
.paper-pic{
    background-image: url(./assets/bg.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}